:root {
    --primary-color: #2563eb;     /* xanh dương */
    --secondary-color: #1e293b;   /* xanh đậm */
    --background-color: #f8fafc;  /* xám nhạt */
    --text-color: #333333;
    --footer-color: #0f172a;
}
